@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import "./style-components/mixin/mixins";
@import "./style-components/header";
@import "./style-components/about";
@import "./style-components/tokenomics";
@import "./style-components/team";
@import "./style-components/roadmap";
@import "./style-components/footer";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
}

html {
  font-family: "Bebas Neue Cyrillic", cursive;
  font-size: 10px;
  color: white;
  a {
    font-family: "Bebas Neue Cyrillic", cursive;
  }
}
