.about_container {
  background: #313280;
}

.data_profit_wrapper {
  height: 195px;
  background: #2d2d74;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;

  &:first-child {
    padding-left: 250px;
  }
  li + li {
    margin-left: 140px;
  }
  .profit {
    font-size: 1.6rem;
    line-height: 1.7rem;
  }
  .profit_discription {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }
}

.content_about_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.advantages_wrapper {
  margin-left: 250px;
  padding-top: 200px;
  align-self: center;

  h2 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  h2 + p {
    font-size: 1.4rem;
    line-height: 1.5rem;
    margin-bottom: 64px;
  }
}

.imageBG_wrapper {
  width: 875px;
  height: auto;

  img {
    width: 100%;
    max-height: 100%;
  }
}
