.footer_container {
  background: #313280;
  padding: 129px 130px;
}
.content_footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 80px;
}

.footer_text {
  padding-right: 150px;
  h2 {
    font-size: 4.2rem;
    line-height: 4.6rem;
  }
  p {
    font-size: 3.2rem;
    line-height: 3.5rem;
  }
}
.social_list_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_item {
  font-size: 2.4rem;
  line-height: 2.7rem;
  text-align: center;
  p {
    margin-bottom: 20px;
  }
  &:first-child {
    margin-right: 100px;
  }
}

.social_btn {
  width: 131px;
  height: 119px;
  border: none;
  background: none;
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  &:active {
    transform: scale(0.98);
  }
}

.telega {
  background-image: url("../assets/social/telega.png");
}

.twitte {
  background-image: url("../assets/social/twitter.png");
}

.line {
  border: 1px solid #c02e5b;
  margin-bottom: 40px;
}

.copyright_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  line-height: 2.7rem;
}

.contact_wraprrep {
  display: flex;
  justify-content: space-between;
  align-items: center;
  p + p {
    margin-left: 50px;
  }
}

@include respond-to(max-large) {
  .footer_container {
    padding: 75px 80px;
  }
  .content_footer_wrapper {
    margin-bottom: 50px;
  }
  .footer_text {
    padding-right: 70px;
    h2 {
      font-size: 3.5rem;
      line-height: 4rem;
    }
    p {
      font-size: 2.5rem;
      line-height: 3rem;
    }
  }
  .social_item {
    font-size: 2rem;
    line-height: 2.5rem;

    p {
      margin-bottom: 15px;
    }
    &:first-child {
      margin-right: 40px;
    }
  }
  .social_btn {
    width: 100px;
    height: 92px;
  }
  .copyright_wrapper {
    font-size: 2rem;
    line-height: 2.2rem;
  }
  .contact_wraprrep {
    p + p {
      margin-left: 20px;
    }
  }
}

@include respond-to(max-midle) {
  .footer_container {
    padding: 50px 40px;
  }
  .content_footer_wrapper {
    margin-bottom: 30px;
  }
  .footer_text {
    padding-right: 35px;
    h2 {
      font-size: 2.7rem;
      line-height: 3.1rem;
    }
    p {
      font-size: 1.9rem;
      line-height: 2.6rem;
    }
  }
  .social_item {
    font-size: 1.7rem;
    line-height: 2rem;
    p {
      margin-bottom: 15px;
    }
    &:first-child {
      margin-right: 22px;
    }
  }
  .social_btn {
    width: 85px;
    height: 76px;
  }
  .copyright_wrapper {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  .contact_wraprrep {
    p + p {
      margin-left: 14px;
    }
  }
}

@include respond-to(midle) {
  .footer_container {
    padding: 40px 20px;
  }
  .content_footer_wrapper {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_text {
    padding-right: 17px;
    h2 {
      font-size: 2.2rem;
      line-height: 2.7rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 15px;
    }
  }
  .social_item {
    font-size: 1.4rem;
    line-height: 2rem;
    p {
      margin-bottom: 12px;
    }
    &:first-child {
      margin-right: 20px;
    }
  }
  .social_btn {
    width: 85px;
    height: 76px;
  }
  .copyright_wrapper {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }
  .contact_wraprrep {
    p + p {
      margin-left: 10px;
    }
  }
}
