.roadmap_container {
  background-image: url("../assets/bg/bg4.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}

.opacity_map {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.roudmap_content_wrapper {
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 4.8rem;
    line-height: 5.2rem;
  }
  p {
    font-size: 3.2rem;
    line-height: 3.5rem;
    padding-bottom: 90px;
  }

  .left_content {
    flex: 1;
    text-align: end;
    padding-right: 10px;
    &:last-child {
      padding: 0;
    }
  }

  .right_content {
    flex: 1;
    text-align: start;
    padding-bottom: 100px;
    padding-left: 10px;
    border-left: 2px solid #c02e5b;

    .title_red {
      color: #c02e5b;
    }
  }
}

@include respond-to(max-mini) {
  .roudmap_content_wrapper {
    padding: 30px 5px;
    h2 {
      font-size: 2rem;
      line-height: 3rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 2rem;
      padding-bottom: 25px;
    }
  }
}

@include respond-to(mini-midle) {
  .roudmap_content_wrapper {
    padding: 45px 5px;
    h2 {
      font-size: 2.2rem;
      line-height: 3.1rem;
    }
    p {
      font-size: 1.7rem;
      line-height: 2.1rem;
      padding-bottom: 35px;
    }
  }
}

@include respond-to(max-midle) {
  .roudmap_content_wrapper {
    padding: 45px 5px;
    h2 {
      font-size: 2.7rem;
      line-height: 3.5rem;
    }
    p {
      font-size: 2.2rem;
      line-height: 2.7rem;
      padding-bottom: 50px;
    }
  }
}
