.team_container {
  background: #313280;
}

.title_team_wrapper {
  height: 147px;
  background: #2d2d74;
  box-shadow: 0px 3px 3px 3px rgba($color: #ac6f81, $alpha: 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-size: 4rem;
    line-height: 4rem;
  }
}

.grid_list_photo {
  padding: 90px;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 400px));
  grid-template-rows: repeat(2, minmax(250px, 450px));
  align-items: center;
  justify-content: center;
  grid-gap: 2rem;
}

.item_wrapper {
  display: flex;
  flex-direction: column;
}

.photo_wrapper {
  height: 370px;
  font-size: 0;
  img {
    height: 100%;
    width: 100%;
  }
}

.description_user {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  color: #1f4dcb;
  .user_name {
    font-size: 2.1rem;
  }
  .user_job {
    font-size: 1.6rem;
  }
}

.item_wrapper:first-child .photo_wrapper {
  overflow: hidden;
  img {
    height: 112%;
  }
}
